h1 {
    margin: auto;
    left: 0;
    right: 0;
    top: 10%;
    text-align: center;
    display: block;
    z-index: 1;
    position: absolute;
}

body {
    background-color: #d0fef2;
}

p{
    font-family: 'Courier New';
    color: DimGray;
    font-size: 100%;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    background-color: #73a47c;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    font-family: 'Courier New';
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #367441;
}

noHover a:hover {
    pointer-events: none;
}

.header {
    background-color: #d0fef2;
    text-align: center;
    font-family: 'Courier New';
    color: DimGray;
    font-size: 70%;
}

.parent {
    position: relative;
    top: 15px;
    left: auto;
    width: 70%;
    margin-left: auto;
    margin-right:auto;
    background-color: #d0fef2;
}

.map {
    display: block;
    position: relative;
    width: 80%;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right:auto;
    border-style: solid;
    border-width: 5pt;
    border-color: #a76258;
}

.pointer {
    position: absolute;
    width: 0;
    margin-left: 0%;
    top: 0;
    left: 0;
}

.homeLogo {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.navLogo {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 40%;
    margin: auto;
    top: 0;
    overflow: hidden;
    margin-top: -33px;
}

.centerNav {
    float: none;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    pointer-events: none;
}


.centerNav hover {
    background-color: #ddd;
    color: black;
}

.checkIn {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width:15%;
    margin-top: 30px;
}

.shelf{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    margin-top: 1px;
}

.login {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width:15%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #73a47c;
    color: white;
    font-family: 'Courier New';
    text-align: left;
}
.shelfParent {
    position: absolute;
}

.profileDisplay {
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    text-align: center;
    z-index: 2;
}

.profileOutput img {
    width: 14%;
}

.firstRow {
    transform: translate(0, 15%);
}

.secondRow {
    transform: translate(0, 55%);
}

.thirdRow {
    transform: translate(0, 95%);
}

.profileText {
    height: 100%;
    width: 100%;
    top: 0;
    position: absolute;
    transform: translate(0, 30%);
}

.profileText p{
    vertical-align: top;
    height: 7%;
    display: inline-block;
    font-size: 1.2vw;
    margin-right: 3.7%;
    margin-left: 3.7%;
    position: relative;
    width: 7%;
    background-color: #ebd1b3;

}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

table{
    font-family: 'Courier New';
    color: dimGrey;
}

Reward{
    display: block;
    position: relative;
    width:15%;
}

.font{
    font-family: 'Courier New';
    color: dimGrey;
    font-weight: bold;
}