<!DOCTYPE html>
{% load static%}
<html>
<head>
<link rel="stylesheet" href="{% static 'loginRegisterPage.css' %}">
</head>
<body>
    <header>
        <h1>Welcome</h1>
    </header>
    <main>
        <form id="login_form" class="form_class" action="/login/" method="post">
            <div class="form_div">
                {% csrf_token %}
                <label>Username:</label>
                <input class="field_class" name="username" type="text" placeholder="Enter Username" autofocus>
                <label>Password:</label>
                <input id="pass" class="field_class" name="password" type="password" placeholder="Enter Password">
                <button class="submit_class" type="submit" form="login_form" onclick="return validarLogin()">Login</button>
            </div>
            <div class="info_div">
                <p>Haven't got an account? <a href="/register">create one here</a></p>
            </div>
        </form>
    </main>
</body>
</html>