<!DOCTYPE html>
{% load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />
  </head>
  <body>

    <ul>
      <li><a class="active" href="/main/">Home</a></li>
      <li><a href="/main/profile">Profile </a></li>
      {% if request.user.is_superuser %}
      <li><a href="/main/buildingOfTheDay">Building of the day </a></li>
      {% endif %}
      <li class="noHover"><a class="centerNav"><img class="navLogo" src="{% static 'campus_logo_white.png' %}" alt="CampusBuilder Logo"></a></li>
       <li style="float:right"><a href="/">Logout </a></li>
    </ul>

    <div class="parent">
      <img src="{% static 'GreenCampus.jpg' %}" alt="Campus" class="map" />
      <img
        src="{% static 'pin.png' %}"
        alt="Pointer"
        class="pointer"
        id="pointer"
      />
    </div>

    <img
      src="{% static 'check_in.png' %}"
      onclick="getLocation()"
      alt="Check In"
      class="checkIn"

    />
     <p>
      Building of the Day!:
      {% for building in building_list %} {% if today == building.date %}
      {{building.building_name}}, Description: {{building.building_desc}} , Reward:
       <!Need to fix this so it displays an image in profile>
      {{building.reward}}<br>{% endif %} {% endfor %}
    </p>

    <p id="output" class="output"></p>

    <div class="footer">
      <a target="_blank" href="https://icons8.com/icon/19190/potted-plant"
        >Potted Plant</a
      >
      icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>


    <script src="{% static 'gps_locator.js' %}"></script>

  </body>
</html>
