<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GPS to Map</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="http://127.0.0.1:8000/main/profile">Profile </a></li>
        <li><a href="http://127.0.0.1:8000/">Logout </a></li>
    </ul>


    <div class = "parent">
        <img src="{% static 'GreenCampus.jpg' %}" alt="Campus" class = image1>
        <img src="{% static 'pin.png' %}" alt="Pointer" class = image2 id = "pointer">
    </div>




    <img src="{% static 'check_in.png' %}" onclick="getLocation()" alt="Check In" class="checkin">

    <p id = output>
    </p>

    <script src="{% static 'gps_locator.js' %}"></script>



</body>
</html>