
<!DOCTYPE html>
{% load static%}
<html>
<head>
    <title>Reset Password Sent</title>
    <link rel="stylesheet" href="{% static 'loginRegisterPage.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />
</head>
<body>
<header>
    <h1>Password Reset Sent</h1>
</header>
<main>


    <form method="post">
        <div class="form_div">
            {% csrf_token %}
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
        </div>



    </form>
</main>
<div class = "acknowledgment">
    <a target="_blank" href="https://icons8.com/icon/19190/potted-plant">Potted Plant</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</div>
</body>
</html>