


<!DOCTYPE html>
{% load static%}
<html>
<head>
    <title>Reset Password Complete</title>
    <link rel="stylesheet" href="{% static 'loginRegisterPage.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />
</head>
<body>
<header>
    <h1>Password Reset Complete</h1>
</header>
<main>


   <form method="post">
        <div class="form_div">
            {% csrf_token %}
            <p>Your password has been set. You may go ahead and log in now.</p>
        </div>
        <img src="{% static 'log.png' %}" onclick="window.location.href='/login/'" alt="Log In" class="login" height="80" width="170">
    </form>


    </form>
</main>
<div class = "acknowledgment">
    <a target="_blank" href="https://icons8.com/icon/19190/potted-plant">Potted Plant</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
</div>
</body>
</html>