
<!DOCTYPE html>
{% load static%}
<html>
<head>
    <title>Enter New Password</title>
    <link rel="stylesheet" href="{% static 'loginRegisterPage.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />
</head>
<body>
    <header>
        <h1>Enter New Password</h1>
    </header>
    <main>
        <form id="password_reset_form" class="form_class" method="POST">
            <div class="form_div">
                {% csrf_token %}
                 <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                <div class="reset_form">
                     {{ form}}
                </div>
                <input type="Submit" name="Send email">
            </div>
        </form>
    </main>

    <div class = "acknowledgment">
        <a target="_blank" href="https://icons8.com/icon/19190/potted-plant">Potted Plant</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
</body>
</html>