
<!DOCTYPE html>
{% load static%}
<html>
<head>
    <title>Enter New Password</title>
    <link rel="stylesheet" href="{% static 'loginRegisterPage.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />
</head>
<body>
    <header>
        <h3>Enter New Password</h3>
    </header>
    <main>


        <form method="post">
            <div class="form_div">
                {% csrf_token %}
                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
                {{ form}}
                <input type="Submit" name="Send email">


            </div>



        </form>
    </main>
    <div class = "acknowledgment">
        <a target="_blank" href="https://icons8.com/icon/19190/potted-plant">Potted Plant</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
</body>
</html>