<!DOCTYPE html>
{% load static%}
<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'loginRegisterPage.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />
</head>
<body>
    <header>
        <h1>Password Reset</h1>
    </header>
    <main>


       <form id="password_reset_form" class="form_class" action="/password_reset/" method="POST">
            <div class="form_div">
                {% csrf_token %}
                <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
                <label>Email:</label>
                <input class="field_class" name="email" type="text" placeholder="Enter Email" autofocus>
                <input type="Submit" name="Send email">
            </div>
        </form>


        </form>
    </main>
    <div class = "acknowledgment">
        <a target="_blank" href="https://icons8.com/icon/19190/potted-plant">Potted Plant</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
</body>
</html>


