<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body onload()="getPlants">
<header class="navBar">
<!-- Logo -->
        <a class="centerNav"><img class="navLogo" src="{% static 'campus_logo_white.png' %}" alt="CampusBuilder Logo"></a>
        <nav class="nav">
            <ul class="menu">
                <li><a class="active" href="/main/">Home</a></li>
                <li><a href="/main/profile">Profile </a></li>
                {% if request.user.is_superuser %}
                <li><a href="/main/buildingOfTheDay">Building of the day </a></li>
                {% endif %}
                <li style="float:right"><a href="/">Logout </a></li>
            </ul>
        </nav>
</header>
<div class="header">
<h1 id = "username">{{ user_name }}'s Profile </h1>
</div>

<div class ="shelfParent">

    <img src="{% static 'big_shelf.png' %}"  alt="shelf" class= shelf>
</div>

<div class="profileDisplay">

    <p class="profileOutput" id="profilePlants">

        <img id="plant1" class="firstRow" style="display: none" alt="plant1">
        <img id="plant2" class="firstRow" style="display: none" alt="plant2">
        <img id="plant3" class="firstRow" style="display: none" alt="plant3">
        <br>
        <img id="plant4" class="secondRow" style="display: none" alt="plant4">
        <img id="plant5" class="secondRow" style="display: none" alt="plant5">
        <img id="plant6" class="secondRow" style="display: none" alt="plant6">
        <br>
        <img id="plant7" class="thirdRow" style="display: none" alt="plant7">
        <img id="plant8" class="thirdRow" style="display: none" alt="plant8">
        <img id="plant9" class="thirdRow" style="display: none" alt="plant9">
    </p>

    <div class="profileText" id="profileText">
        <p id = "text1" class = "textFirstRow" style="display: none"></p>
        <p id = "text2" class = "textFirstRow" style="display: none"></p>
        <p id = "text3" class = "textFirstRow" style="display: none"></p>
        <br>
        <p id = "text4" class = "textSecondRow" style="display: none"></p>
        <p id = "text5" class = "textSecondRow" style="display: none"></p>
        <p id = "text6" class = "textSecondRow" style="display: none"></p>
        <br>
        <p id = "text7" class = "textThirdRow" style="display: none"></p>
        <p id = "text8" class = "textThirdRow" style="display: none"></p>
        <p id = "text9" class = "textThirdRow" style="display: none"></p>
    </div>

</div>


<div class = "footer">
    <a target="_blank" href="https://icons8.com/icon/19190/potted-plant">Potted Plant</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    <a style="float:right" href="/main/privacyPolicy">Privacy Policy &nbsp</a>
     {% if request.user.is_superuser == False %}
      <a style="float:right" href="/main/reportToAdmin">Report to Admin &nbsp</a>
     {% endif %}
</div>




<script type="text/javascript" src="{% static 'display.js' %}"></script>



</body>
</html>