<!DOCTYPE html>
{% load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Main Page</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />
  </head>
  <body>
    <ul>
      <li><a class="active" href="http://127.0.0.1:8000/main/">Home</a></li>
      <li><a href="http://127.0.0.1:8000/main/profile">Profile </a></li>
      <li><a href="http://127.0.0.1:8000/">Logout </a></li>
      {% if request.user.is_superuser %}
      <li><a href="http://127.0.0.1:8000/main/buildingOfTheDay">BOTD </a></li>
      {% endif %}
    </ul>

    {% if submitted == True %} Form was submitted <a style="color:blue;" href="http://127.0.0.1:8000/main/reportToAdmin">Submit another one?</a>{% elif submitted == False %}

    <form method="post">
      {% csrf_token %} {{form.as_p}}
      <button type="submit" id="save" name="save">Report Problem</button>
    </form>

    {% endif %}
    
    
    <div class="footer">
      <a target="_blank" href="https://icons8.com/icon/19190/potted-plant"
        >Potted Plant</a
      >
      icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>

    <script src="{% static 'gps_locator.js' %}"></script>
  </body>
</html>
